<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yvenxx.system.mapper.TAuthorityMapper">

    <select id="selectAllAuthority" resultType="cn.yvenxx.common.vo.AuthorityVO">
        select tr.name as role,ta.resource
        from t_authority as ta
        left join t_authority_role as tar on tar.aid = ta.id
        left join t_role as tr on tr.id = tar.rid
    </select>
</mapper>
